Source: sonic-workspace
Section: kde
Maintainer: NexusSfan <nexussfan@duck.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-kf6,
               quilt,
               dh-sequence-sodeps,
               appmenu-gtk3-module,
               breeze-dev,
               cmake (>= 3.16~),
               extra-cmake-modules (>= 6.22.0~),
               kded6-dev (>= 6.22.0~),
               kirigami-addons-dev (>= 1.0.0~),
               knighttime-dev (>= 6.6.3~),
               sonic-screenlocker-dev (>= 6.6.3~),
               sonic-win-dev (>= 4:6.6~),
               libappstreamqt-dev (>= 1.0.0~),
               libcanberra-dev,
               libcrypt-dev,
               libdbus-1-dev,
               libdrm-dev,
               libfontconfig-dev,
               libice-dev,
               libicu-dev,
               libkexiv2qt6-dev,
               libkf6archive-dev (>= 6.22.0~),
               libkf6auth-dev (>= 6.22.0~),
               libkf6baloo-dev (>= 6.2.0~),
               libkf6colorscheme-dev (>= 6.22.0~),
               libkf6coreaddons-dev (>= 6.22.0~),
               libkf6crash-dev (>= 6.22.0~),
               libkf6dbusaddons-dev (>= 6.22.0~),
               libkf6declarative-dev (>= 6.22.0~),
               libkf6doctools-dev (>= 6.22.0~),
               libkf6globalaccel-dev (>= 6.22.0~),
               libkf6guiaddons-dev (>= 6.22.0~),
               libkf6holidays-dev (>= 6.22.0~),
               libkf6i18n-dev (>= 6.22.0~),
               libkf6iconthemes-dev (>= 6.22.0~),
               libkf6idletime-dev (>= 6.22.0~),
               libkf6itemmodels-dev (>= 6.22.0~),
               libkf6kcmutils-dev (>= 6.22.0~),
               libkf6kio-dev (>= 6.22.0~),
               libkf6networkmanagerqt-dev (>= 6.22.0~),
               libkf6newstuff-dev (>= 6.22.0~),
               libkf6notifications-dev (>= 6.22.0~),
               libkf6notifyconfig-dev (>= 6.18.0~),
               libkf6package-dev (>= 6.22.0~),
               libkf6parts-dev (>= 6.22.0~),
               libkf6prison-dev (>= 6.22.0~),
               libkf6runner-dev (>= 6.22.0~),
               libkf6statusnotifieritem-dev (>= 6.22.0~),
               libkf6svg-dev (>= 6.22.0~),
               libkf6texteditor-dev (>= 6.22.0~),
               libkf6textwidgets-dev (>= 6.22.0~),
               libkf6unitconversion-dev (>= 6.10.0~),
               libkf6userfeedback-dev (>= 6.2.0~),
               libkf6wallet-dev (>= 6.22.0~),
               libkirigami-dev (>= 6.22.0~),
               libkpipewire-dev (>= 6.6~),
               sonic-screen-library-dev (>= 4:6.6.3~),
               libksysguard-dev (>= 4:6.6.3~),
               liblayershellqtinterface-dev (>= 6.6.3~),
               libpackagekitqt6-dev,
               libphonon4qt6-dev (>= 4:4.6.60~),
               libphonon4qt6experimental-dev,
               libpipewire-0.3-dev,
               libsonicinterface-dev (>= 6.6.3~),
               libplasma5support-dev (>= 4:6.6~),
               libplasmaactivities-dev (>= 6.6.3~),
               libplasmaactivitiesstats-dev (>= 6.6.3~),
               libpolkit-qt6-1-dev,
               libqalculate-dev (>= 2.0~),
               libquickcharts-dev (>= 6.22.0~),
               libsm-dev,
               libsystemd-dev,
               libudev-dev,
               libwayland-dev,
               libx11-dev,
               libxcb-composite0-dev,
               libxcb-cursor-dev,
               libxcb-damage0-dev,
               libxcb-image0-dev,
               libxcb-randr0-dev,
               libxcb-shape0-dev,
               libxcb-util-dev,
               libxcb-xfixes0-dev,
               libxcb1-dev,
               libxcursor-dev,
               libxfixes-dev,
               libxft-dev,
               libxrender-dev,
               libxtst-dev,
               milou,
               pkgconf,
               plasma-wayland-protocols (>= 1.6~),
               qcoro-qt6-dev,
               qml6-module-qtquick-virtualkeyboard,
               qt6-5compat-dev (>= 6.9.0~),
               qt6-base-dev (>= 6.10.0~),
               qt6-base-private-dev,
               qt6-declarative-dev (>= 6.10.0~),
               qt6-declarative-private-dev,
               qt6-location-dev (>= 6.10.0~),
               qt6-positioning-dev (>= 6.10.0~),
               qt6-shadertools-dev (>= 6.10.0~),
               qt6-svg-dev (>= 6.10.0~),
               qt6-wayland-dev (>= 6.6.0~),
               qt6-wayland-private-dev (>= 6.6.0~),
               systemd-dev,
               zlib1g-dev,
Standards-Version: 4.7.4
Homepage: https://invent.kde.org/plasma/plasma-workspace
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/plasma-workspace
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/plasma-workspace.git

Package: sonic-libbatterycontrol6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libbatterycontrol6
Provides: libbatterycontrol6 (= ${binary:Version})
Description: Sonic Workspace battery control library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This package contains the battery control library files.

Package: sonic-libklipper6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libklipper6
Provides: libklipper6 (= ${binary:Version})
Recommends: sonic-workspace-doc (>= ${source:Version}),
Description: Sonic Workspaces Klipper library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 Klipper is the Sonic clipboard utility. It stores clipboard
 history, and allows you to link clipboard contents to application
 actions.
 .
 This package contains the Klipper library files.

Package: sonic-libklookandfeel6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libklookandfeel6
Provides: libklookandfeel6 (= ${binary:Version})
Description: Sonic Workspace look and feel helper library
 This tiny library provides shared helpers for determining whether a global
 theme is light or dark. It is used by the look and feel and landing page
 configuration modules.
 .
 In the future, the library can include other global theme related features.
 For example, perhaps the look and feel manager could live in it too.
 .
 This package contains Sonic Workspace libklookandfeel library files.

Package: sonic-libkmpris6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libkmpris6
Provides: libkmpris6 (= ${binary:Version})
Description: Sonic Workspace MPRIS library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This library can be used to control Media Player Remote Interfacing
 Specification-compatible media players.
 .
 This package contains Sonic Workspace MPRIS library files.

Package: sonic-libkfontinst6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libkfontinst6
Provides: libkfontinst6 (= ${binary:Version})
Description: Sonic Workspace fonts installation library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This package contains the fonts installation library files.

Package: sonic-libkfontinstui6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libkfontinstui6
Provides: libkfontinstui6 (= ${binary:Version})
Description: Sonic Workspace UI components for fonts installation
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This library provides UI components to manage fonts installation
 used in the fonts installation KCM configuration screen.
 .
 This package contains the library files for the fonts installation
 UI components.

Package: sonic-libkworkspace6-6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libkworkspace6-6
Provides: libkworkspace6-6 (= ${binary:Version})
Description: Sonic Workspace library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This library provides the core features of Sonic Workspace like
 display, login and session management.
 .
 This package contains the main Sonic Workspace library files.

Package: sonic-libnotificationmanager1
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libnotificationmanager1
Provides: libnotificationmanager1 (= ${binary:Version})
Description: Sonic Workspace notification manager library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This library is responsible for listing notifications, closing them
 and interacting with them in Sonic.
 .
 This package contains the notification manager library files.

Package: sonic-libtaskmanager6
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
Conflicts: libtaskmanager6
Provides: libtaskmanager6 (= ${binary:Version})
Description: Sonic Workspace task manager library
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 The task manager library provides various abstractions for listing
 windows, startup tasks and launcher jobs.
 .
 This package contains the task manager library files.

Package: sonic-workspace
Architecture: any
Depends: default-dbus-session-bus | dbus-session-bus,
         drkonqi (>= 6.2.90~),
         frameworkintegration6,
         gdb,
         iso-codes,
         kactivitymanagerd (>= 6.2.90~),
         kded6,
         kglobalacceld (>= 6.2.90~),
         knighttime (>= 6.6~),
         sonic-win (>= 4:6.2.90~),
         libkf6config-bin,
         milou (>= 4:6.2.90~),
         sonic-desktoptheme,
         plasma-integration (>= 6.2.90~),
         sonic-workspace-data (>= ${source:Version}),
         python3:any,
         qdbus-qt6,
         qt6-location-plugins,
         qt6-wayland,
         udisks2,
         x11-utils,
         x11-xserver-utils,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: notification-daemon,
          x-session-manager,
          plasma-workspace (= ${binary:Version}),
          qml6-module-org-kde-breeze (= ${binary:Version}),
Recommends: kde-cli-tools (>= 4:6.2.90~),
            kio-extras,
            kio-fuse,
            ksystemstats (>= 6.2.90~),
            plasma-workspace-doc (>= ${source:Version}),
            powerdevil (>= 4:6.2.90~),
            systemsettings,
Conflicts: breeze (<< 4:5.23.90~),
        plasma-desktop (<< 4:6.4.90~),
        plasma-desktop-data (<< 4:5.22.90),
        plasma-workspace-data (<< 4:6.5.2-2),
        plasma-workspace-wayland,
        plasma-workspace,
        qml6-module-org-kde-breeze,
Replaces: breeze (<< 4:5.23.90~),
          plasma-desktop (<< 4:6.4.90~),
          plasma-desktop-data (<< 4:5.22.90),
          plasma-workspace-data (<< 4:6.5.2-2),
          plasma-workspace-wayland,
Description: base for Sonic Desktop, Mobile, and Bigscreen graphical environments
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.

Package: sonic-workspace-data
Architecture: all
Multi-Arch: foreign
Depends: qtpaths6,
         ${misc:Depends},
Conflicts: breeze (<< 4:5.23.90~),
        plasma-desktop (<< 4:5.24.0),
        plasma-desktop-data (<< 4:6.4.90~),
        xdg-desktop-portal-kde (<< 6.2.0~),
        plasma-workspace-data,
Provides: plasma-workspace-data (= ${binary:Version})
Replaces: breeze (<< 4:5.23.90~),
          plasma-desktop (<< 4:5.24.0),
          plasma-desktop-data (<< 4:6.4.90~),
          xdg-desktop-portal-kde (<< 6.2.0~),
Description: Sonic Workspace data files
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This contains the data files for Sonic Workspace.

Package: sonic-workspace-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends},
Conflicts: plasma-desktop-doc (<< 4:6.4.90~),
        plasma-workspace-data (<< 4:6.1.90~),
        plasma-workspace-doc,
Provides: plasma-workspace-doc (= ${binary:Version})
Replaces: plasma-desktop-doc (<< 4:6.4.90~),
          plasma-workspace-data (<< 4:6.1.90~),
Description: Sonic Workspace documentation
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This package contains the documentation for Sonic Workspace
 components and libraries

Package: sonic-workspace-dev
Architecture: any
Section: libdevel
Depends: libkf6itemmodels-dev (>= 6.22.0~),
         libsonicinterface-dev,
         qt6-base-dev (>= 6.10.0~),
         qt6-declarative-dev (>= 6.10.0~),
         ${misc:Depends},
         ${so:Depends},
Conflicts: plasma-desktop-dev (<< 4:5.20),
           plasma-workspace-dev,
           qml6-module-org-kde-breeze-components,
           qml6-module-org-kde-notificationmanager,
           qml6-module-org-kde-plasma-clock,
           qml6-module-org-kde-plasma-lookandfeel,
           qml6-module-org-kde-plasma-workspace,
           qml6-module-org-kde-taskmanager,
Provides: plasma-workspace-dev,
          qml6-module-org-kde-breeze-components (= ${binary:Version}),
          qml6-module-org-kde-notificationmanager (= ${binary:Version}),
          qml6-module-org-kde-plasma-clock (= ${binary:Version}),
          qml6-module-org-kde-plasma-lookandfeel (= ${binary:Version}),
          qml6-module-org-kde-plasma-workspace (= ${binary:Version}),
          qml6-module-org-kde-taskmanager (= ${binary:Version}),
Replaces: plasma-desktop-dev (<< 4:5.20),
Description: Sonic Workspace development files
 Sonic Workspace is used as the base for Sonic Desktop, Mobile, and
 Bigscreen. It contains shared KCM configuration screens, applets as
 well as multiple libraries.
 .
 This package contains the development files for Sonic Workspace.
